/* FONTS */
@font-face {
	font-family: "Cantarell";
	font-style: normal;
	font-weight: 800;
	src: local("Cantarell Extra Bold"), local("Cantarell-ExtraBold"), url(fonts/cantarell-extra-bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
	font-family: "Cantarell";
	font-style: normal;
	font-weight: 600;
	src: local("Cantarell Bold"), local("Cantarell-Bold"), url(fonts/cantarell-bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
	font-family: "Cantarell";
	font-style: normal;
	font-weight: 400;
	src: local("Cantarell Regular"), local("Cantarell-Regular"), url(fonts/cantarell-regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}

/* RESET & TYPOGRAPHY */
:root {
  --text: #f6f5f4;
	background: #1a1622;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Cantarell", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
@media (min-width: 700px) {
  html, body {
    font-size: 18px;
		background: black;
  }
}
body {
	color: var(--text);
  background: linear-gradient(90deg, #392955 0%, #3a6294 100%);
  /* ⇩⇩ put footer at the bottom for short pages, such as the 404 ⇩⇩ */
  display: grid;
  min-height: 100vh;
  grid-template-rows: minmax(auto,1fr);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 800;
  line-height: 1.25;
}
a {
  color: #62a0ea;
}

/* LAYOUT */
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 900px;
}

/* COMPONENTS */
.title {
  font-size: 1.8rem;
  text-align: center;
}
@media (min-width: 800px) {
	.title {
		font-size: 2.5rem;
	}
}
.subtitle {
  display: block;
  max-width: 20em;
  margin: 1.6rem auto 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}
.small-print {
  font-size: 0.9em;
  text-align: center;
  max-width: 28em;
  margin: 1rem auto;
}

.button {
  display: block;
  border-radius: 99999px;
  margin: 0 auto;
  text-align: center;
  /* font-size: 0.9em; */
  font-weight: bold;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.98);
}

.small-button {
  padding: 0.6rem 2rem;
  width: 80%;
  margin: 1rem auto;
  max-width: 14em;
  font-weight: 600;
}
@media (min-width: 1100px) {
  .small-button {
    width: 50%;
  }
}
.blue-button {
  background: #3584e4;
  color: white;
}

.darkblue-button {
  background: #032b5d;
  color: white;
}
.white-button {
  background: #ffffff20;
  color: #fff;
}
.red-button {
  background: #c01c28;
  color: white;
}
.disabled-button {
  background: none;
  opacity: 0.6;
  color: white;
  border: 2px solid #c0bfbc85;
}
.disabled-button:hover {
  transform: none;
  cursor: default;
}
.warning-label {
	color: #f6d32d;
	font-weight: 600;
}

.icon-shadow {
  filter: /* Sharp drop shadow */
          drop-shadow(0 0.08rem 0.1rem rgba(0,0,0, 0.35))
          /* Diffuse ambient shadow */
          drop-shadow(0 0.4rem 0.7rem rgba(0,0,0, 0.18));
}
@media (min-width: 600px) {
  .group {
    display: flex;
  }
}
.group .block {
  width: 100%;
  text-align: center;
  self-align: flex-start;
  margin: 6rem auto;
}
@media (min-width: 600px) {
  .group .block {
    width: 30em;
  }
}
.block h3 {
  font-size: 1.4em;
}
.block p {
  max-width: 18rem;
  margin: 1rem auto;
}
.block .icon {
  margin-bottom: 1rem;
}

/* ONE-OFF */
.top-row {
  padding: 4rem 0 4rem;
}
@media (min-height: 700px) and (min-width: 500px) {
  .top-row {
    padding: 8rem 0 5rem;
  }
}
.try-row {
  overflow: hidden;
  background-color: rgba(36, 31, 49, 0.47);
  padding: 6rem auto;
}
.bugs-row {
  overflow: hidden;
  background-color: #241f31;
}

.banner {
  display: block;
  margin: 2rem auto;
  width: 100%;
}
@media (min-width: 700px) {
  .banner {
    width: auto;
    margin: 0 auto;
  }
}
.large-button {
  width: 12em;
  padding: 0.9em 3em;
  font-size: 1.2em;
}

/* FOOTER */
footer {
  background-color: #1a1622;
	text-align: center;
	padding: 4em 0 4em;
  color: white;
  font-size: 0.9em;
}
footer a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
